In [2]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib

Using matplotlib backend: Qt5Agg

In [11]:
df=pd.read_csv('bank.csv')
df.head()

   age   bank_account
0    20             0
1    21             1
2    22             0
3    23             0
4    24             1

In [14]:
df.columns.values

array(['age ', 'bank_account'], dtype=object)

In [17]:
df = df.rename(columns={'age ': 'age'})

In [19]:
plt.scatter(df.age ,df.bank_account,marker='+',color = 'red')
plt.show()

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train,X_test,Y_train,Y_test = train_test_split(df[['age']],df.bank_account,train_size = 0.8)

In [22]:
X_test

    age
0    20
11   52
3    23
12   41

In [26]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [27]:
model.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [29]:
X_test

    age
0    20
11   52
3    23
12   41

In [30]:
Y_predicted = model.predict(X_test)

In [31]:
model.predict_proba(X_test)
model.score(X_test,Y_test)

1.0

In [32]:
Y_predicted

array([0, 1, 0, 1], dtype=int64)

In [33]:
model.coef_

array([[0.19337271]])

In [34]:
model.intercept_

array([-4.58521351])